body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #000;
}

.cell:hover {
  background-color: #ddd;
}

button {
  padding: 10px 20px;
  background-color: #F0a0a0a0;
  border-radius: 50px;
  font-size: 1rem;
}

#login-form {
  margin: 30px auto;
  width: max-content;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 100px auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 50px;
}



#login-form p,
#login-form input {
  font-size: 15px;
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

#login-form input {
  font-family: monospace;
  width: 13ch;
}